:root {
  --main-color: #005451;
  --secondary-color: #09837f;
  --hover-color: #119f9b;
}

@font-face {
  font-family: 'EduVIC';
  src: url('fonts/EduVIC.ttf') format('truetype');
}

body {
  background-image: url('images/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-family: "EduVIC", serif;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 5px;
  padding: 0.75rem;
  max-width: 100%;

  place-self: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  place-self: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
  max-width: 300px;
  background-color: var(--main-color);
  border-radius: 1rem;
}

.card-info {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
  max-width: 300px;
  background-color: var(--main-color);
  border-radius: 1rem;
}

.card-info:hover {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
  max-width: 300px;
  background-color: var(--hover-color);
  border-radius: 1rem;
  transform: scale(1.1);
}

.navbar {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 5px;
  padding: 1.2rem;
}

.navbar-logo {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 5px;
  padding: 0.75rem;

  place-self: center;
}

.navbar-grid {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 5px;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  display: flex;
}

.navbar-text {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  background: var(--secondary-color);
  transition: 0.5s ease;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.2rem;
}
.navbar-text:hover {
  background: var(--hover-color);
  transition: 0.5s ease;
  transform: translate(0px, 10px);
}

.navbar-grid-right {
  color: white;
  text-align: left;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 1rem;
  background: var(--main-color);
  border-radius: 5px;
  padding: 0.75rem;
  position: absolute;
  right: 30px;
  top: 0;
  display: flex;
}

.navbar-subtext {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  background: var(--secondary-color);
  transition: 0.5s ease;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.2rem;
}